@model Domain.Invoice

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Restaurant.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentMethod.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationTimestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationTimestamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalNet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalNet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalGross)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalGross)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InvoiceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
