@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>@DateTime.Now.ToShortDateString()</p>
    <p>@DateTime.Now.ToShortTimeString()</p>
    
    <p>@DateTime.Now.ToLongDateString()</p>
    <p>@DateTime.Now.ToLongTimeString()</p>
    <p>@(5600.ToString("c"))</p>
</div>