@model Domain.InvoiceLine

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InvoiceLine</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cart.CartId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Invoice.InvoiceCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Net)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Net)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gross)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gross)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InvoiceLineId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
