@model Domain.MealPrice

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MealPrice</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Meal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Meal.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Restaurant.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientGroup.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gross)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gross)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Since)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Since)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Until)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Until)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MealPriceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
