@model Domain.MealComponent

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MealComponent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Component)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Component.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Meal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Meal.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MealComponentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
