@model Domain.App.GpsSession

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GpsSession</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecordedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecordedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Speed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Speed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Distance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Distance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Climb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Climb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaceMin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaceMin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaceMax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaceMax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GpsSessionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GpsSessionType!.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppUser!.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangedAt)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
